body {
    background-color: seagreen;
    text-align: center;

    /* unvisited link */
    a:link {
        color: blue;
    }

    /* visited link */
    a:visited {
        color: purple;
    }

    /* mouse over link */
    a:hover {
        color: red;
    }

    /* selected link */
    a:active {
        color: yellow;
    }
}

ul li {
    display: inline-block;
    margin-right: 10px;
    padding: 5px;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 25px;
}

#passwordReset {
    margin-left: -25px;
    margin-right: 45px;
}

#createAccount {
    margin-right: 45px;
}

#password {
    margin-left: 20px;
    margin-right: 30px;
}

#loginButton {
    background-color: dimgray;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin: 20px 0px 20px 0px;
}

#logoutButton {
    background-color: dimgray;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin: 20px 0px 20px 0px;
}

#returnHome {
    background-color: dimgray;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin: 20px 0px 20px 0px;
}


